.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.galleryItem {
  width: auto ;
  float: left;
  padding: 10px;
}

.galleryTitle {
  text-align: left;
  width: 1065px;
  margin: 20px auto;
}

.galleryImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.navDiv ul {
  background-color: black;
  margin: 0;
  padding: 10px 0px 10px 140px;
}

ul li {
  display: inline;
  padding: 20px;
}
